.landing {
  border: 1mm solid;
  padding: 20px;
  border-color: #8FCBEB;
}

.sidebar-title {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #34398B;
}

.aa-Autocomplete .aa-Form, .aa-DetachedFormContainer .aa-Form {
  background-color: white;
  border: 2px solid #8FCBEB;
}
.sidebar-navigation .sidebar-item {
  font-size: 1.25rem;
  font-weight: 300;
}

.nav-page .nav-page-text, .sidebar-navigation .sidebar-section .sidebar-item {
  font-size: 1.15rem;
}

.scrolling {
  max-height: 400px;
  overflow-y: auto;
  font-size: 9pt;
  margin-bottom: 10px;
}

.helpscroll {
  max-height: 400px;
  overflow-y: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #949698;
  padding: 10px;
  margin-bottom: 10px;
}

.remote-code {
  background-color: #EEEBFF;
  border-left: 4px solid #77447F;
  border-radius: 6px;
  margin-bottom: 0 !important;
  padding-bottom: 0em !important;
  display: block;
  line-height: 1.4; /* avoid excess spacing inside */
}

.local-code {
  background-color: #E2F0F9;
  border-left: 4px solid #498EC8;
  border-radius: 6px;
  margin-bottom: 0 !important;
  padding-bottom: 0em !important;
  display: block;
  line-height: 1.4; /* avoid excess spacing inside */
}


/* Challenge callout styling */
.challenge-callout .callout-header {
  background-color: #faeab9 !important;
  color: #000 !important;
  padding: 4px 8px !important;
  font-weight: 600 !important;
}

.challenge-callout .callout-header .callout-title {
  font-size: 1.2em !important;
  margin: 0 !important;
}

/* Solution callout styling */
.solution-callout .callout-header {
  background-color: #faeab9 !important;
  color: #000 !important;
  padding: 2px 8px !important;
  font-weight: 500 !important;
}

.solution-callout .callout-body {
  margin-top: 0 !important;
  padding-top: 4px !important;
}
